*, *::before, *::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Varela', sans-serif;
    background-color: #ddd;
}

.item {
    /*width: 200px;*/
    background-color: beige;
    color: #ffc3b1;
    font-size: 34px;
    text-align: center;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

.item:nth-child(even) {
    background-color: aliceblue;
}

.container {
    margin: auto;
    max-width: 1000px;
    background-color: white;
}

/*=========================
    Grid Layout Practice
===========================*/

.grid {
    max-width: 1000px;
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));*/
    /*grid-template-rows: 100px 200px;*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 100px;
    grid-gap: 15px;
    grid-auto-rows: minmax(150px, auto);
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}

header, aside, main, footer {
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

header {
    background-color: #00ff62;
    color: white;
}

aside {
    background-color: aqua;
    color: white;
}

main {
    background-color: brown;
    color: white;
}

footer {
    background-color: crimson;
    color: white
}

.container-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px minmax(200px, 1fr) 100px;
    grid-gap: 10px;
}

header{
    grid-column-start:1;
    grid-column-end: 3;
}
main {
    grid-row-start: 2;
    grid-row-end: 4;
}
aside {
    grid-row-start: 2;
    grid-row-end: 4;
}
footer {
    grid-column-start: 1; 
    grid-column-end: 3;
}
